.idea/chatbot_gpt2_wellness.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
frontend/android/.project
frontend/android/.settings/org.eclipse.buildship.core.prefs
frontend/android/app/.classpath
frontend/android/app/.project
frontend/android/app/.settings/org.eclipse.buildship.core.prefs
frontend/package-lock.json
.vscode/settings.json
backend/models/KoGPT2_checkpoint.pt
